
.post-header {
  padding: 0em 0em 1em;
  margin: 0 auto 1em;

  h2 {

  }

  .blog-post-meta {
    // margin-bottom: 8px;
    font-size: 16px;
    font-family: $font-sans-serif;
    color: #9A9A9A;
    margin: 0em;
  }

  .back {
    color: #9A9A9A;
    display: block;
    max-width: 700px;
    margin: 0 auto 2em auto;
    font-family: $font-sans-serif;
    font-size: 16px;

    &:before {
      content: '←';
      display: inline-block;
      position: relative;
      margin-right: 8px;
    }

    a {
      color: #9A9A9A;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.post-content {
  padding: 0em 0 1em;
  


}
